@{
    ViewData["Title"] = "Home Page";
}

@using System.Threading.Tasks
@using ApplicationClasses
@model User

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <style>
        h2 {
            font-size: 12px;
        }
    </style>
</head>
<body>
@if (Model != null)
{
    <h1>Hello @Model.Name</h1>
    <br/>
}
else
{
    <h1>Prazno je</h1>
}

<div>
    <a asp-controller="User" asp-action="AccountDetails" asp-route-id="@Model.Id">Account details</a>
    <a asp-controller="User" asp-action="ShowFirends" asp-route-id="@Model.Id">View friends</a>
    <br/>
        @if (Model != null)
        {
            foreach (var album in Model.Albums)
            {
                <h2>
                    @album.AlbumName <br /> <a asp-controller="Home" asp-action="ShowAlbum" asp-route-id="@album.Id">ShowAlbum</a>
                </h2>
            }
        }


</div>
</body>
</html>
